/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/03/2015, 07:30:30 PM
    Author     : FernandoEsteban
*/
/*Colores de Fondo Admica*/
.bg-admica-turquesa,
.bg-admica-beige,
.bg-admica-ladrillo,
.bg-admica-azul {
  color: #F9F9F9 !important;
}
.bg-admica-turquesa {
  background-color: #47C4A7 !important;
}
.bg-admica-beige {
  background-color: #EDD5C7 !important;
}
.bg-admica-ladrillo {
  background-color: #D14F38 !important;
}
.bg-admica-azul {
  background-color: #1F85A1 !important;
}
.bg-admica-blanco {
  background-color: #FAFAFA !important;
  color: #666666 !important;
}
/*Colores de Texto Admica*/
.text-admica-turquesa {
  color: #47C4A7 !important;
}
.text-admica-beige {
  color: #EDD5C7 !important;
}
.text-admica-ladrillo {
  color: #D14F38 !important;
}
.text-admica-azul {
  color: #1F85A1 !important;
}
.text-admica-blanco {
  color: #FAFAFA !important;
}

.login-admica {
    background-image: url("../img/admica/login.png");
    background-color: #EDD5C7;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 400px;
}

/* 
    Skins
    -----
*/
/* 
    Skin Admica Azul
    ---------
*/
/* skin-admica-azul navbar */
.skin-admica-azul .navbar {
  background-color: #1A7088;
}
.skin-admica-azul .navbar .nav a {
  color: rgba(255, 255, 255, 0.8);
}
.skin-admica-azul .navbar .nav > li > a:hover,
.skin-admica-azul .navbar .nav > li > a:active,
.skin-admica-azul .navbar .nav > li > a:focus,
.skin-admica-azul .navbar .nav .open > a,
.skin-admica-azul .navbar .nav .open > a:hover,
.skin-admica-azul .navbar .nav .open > a:focus {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-admica-azul .navbar .navbar-right > .nav {
  margin-right: 10px;
}
.skin-admica-azul .navbar .sidebar-toggle .icon-bar {
  background: rgba(255, 255, 255, 0.8);
}
.skin-admica-azul .navbar .sidebar-toggle:hover .icon-bar {
  background: #f6f6f6 !important;
}
/* skin-admica-azul logo */
.skin-admica-azul .logo {
  background-color: #1A7088;
  color: #f9f9f9;
}
.skin-admica-azul .logo > a {
  color: #f9f9f9;
}
.skin-admica-azul .logo:hover {
  background: #17657A;
}
/* skin-admica-azul content header */
.skin-admica-azul .right-side > .content-header {
  background: #fbfbfb;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
/* skin-admica-azul user panel */
.skin-admica-azul .user-panel > .image > img {
  border: 1px solid #dfdfdf;
}
.skin-admica-azul .user-panel > .info,
.skin-admica-azul .user-panel > .info > a {
  color: #555555;
}
/* skin-admica-azul sidebar */
.skin-admica-azul .sidebar {
  border-bottom: 1px solid #fff;
}
.skin-admica-azul .sidebar > .sidebar-menu > li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #dbdbdb;
}
.skin-admica-azul .sidebar > .sidebar-menu > li:first-of-type {
  border-top: 1px solid #dbdbdb;
}
.skin-admica-azul .sidebar > .sidebar-menu > li:first-of-type > a {
  border-top: 1px solid #fff;
}
.skin-admica-azul .sidebar > .sidebar-menu > li > a {
  margin-right: 1px;
}
.skin-admica-azul .sidebar > .sidebar-menu > li > a:hover,
.skin-admica-azul .sidebar > .sidebar-menu > li.active > a {
  color: #222;
  background: #f9f9f9;
}
.skin-admica-azul .sidebar > .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #f9f9f9;
}
.skin-admica-azul .left-side {
  background: #f4f4f4;
  -webkit-box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.1);
  box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.07);
}
.skin-admica-azul .sidebar a {
  color: #555555;
}
.skin-admica-azul .sidebar a:hover {
  text-decoration: none;
}
.skin-admica-azul .treeview-menu > li > a {
  color: #777;
}
.skin-admica-azul .treeview-menu > li.active > a,
.skin-admica-azul .treeview-menu > li > a:hover {
  color: #111;
}
.skin-admica-azul .sidebar-form {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #dbdbdb;
  margin: 10px 10px;
}
.skin-admica-azul .sidebar-form input[type="text"],
.skin-admica-azul .sidebar-form .btn {
  box-shadow: none;
  background-color: #fafafa;
  border: 1px solid #fafafa;
  height: 35px;
}
.skin-admica-azul .sidebar-form input[type="text"] {
  color: #666;
  -webkit-border-top-left-radius: 2px !important;
  -webkit-border-top-right-radius: 0 !important;
  -webkit-border-bottom-right-radius: 0 !important;
  -webkit-border-bottom-left-radius: 2px !important;
  -moz-border-radius-topleft: 2px !important;
  -moz-border-radius-topright: 0 !important;
  -moz-border-radius-bottomright: 0 !important;
  -moz-border-radius-bottomleft: 2px !important;
  border-top-left-radius: 2px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 2px !important;
}
.skin-admica-azul .sidebar-form input[type="text"]:focus,
.skin-admica-azul .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-admica-azul .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-admica-azul .sidebar-form .btn {
  color: #999;
  -webkit-border-top-left-radius: 0 !important;
  -webkit-border-top-right-radius: 2px !important;
  -webkit-border-bottom-right-radius: 2px !important;
  -webkit-border-bottom-left-radius: 0 !important;
  -moz-border-radius-topleft: 0 !important;
  -moz-border-radius-topright: 2px !important;
  -moz-border-radius-bottomright: 2px !important;
  -moz-border-radius-bottomleft: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
  border-bottom-left-radius: 0 !important;
}

/*Boxes*/
.box.box-admica-turquesa {
  border-top-color: #47C4A7;
}
.box.box-admica-beige {
  border-top-color: #EDD5C7;
}
.box.box-admica-ladrillo {
  border-top-color: #D14F38;
}
.box.box-admica-azul {
  border-top-color: #1F85A1;
}

/*Solid Boxes*/
.box.box-solid.box-admica-turquesa > .box-header {
  color: #fff;
  background: #47C4A7;
  background-color: #47C4A7;
}
.box.box-solid.box-admica-turquesa > .box-header a {
  color: #444;
}
.box.box-solid.box-admica-beige > .box-header {
  color: #fff;
  background: #EDD5C7;
  background-color: #EDD5C7;
}
.box.box-solid.box-admica-beige > .box-header a {
  color: #444;
}
.box.box-solid.box-admica-ladrillo > .box-header {
  color: #fff;
  background: #D14F38;
  background-color: #D14F38;
}
.box.box-solid.box-admica-ladrillo > .box-header a {
  color: #444;
}
.box.box-solid.box-admica-azul > .box-header {
  color: #fff;
  background: #1F85A1;
  background-color: #1F85A1;
}
.box.box-solid.box-admica-azul > .box-header a {
  color: #444;
}

/*Botones Admica*/
.btn.btn-admica-turquesa {
  background-color: #47C4A7;
  border-color: #3EAA91;
  color: #fff;
}
.btn.btn-admica-turquesa:hover,
.btn.btn-admica-turquesa:active,
.btn.btn-admica-turquesa.hover {
  background-color: #3EAA91;
}
.btn.btn-admica-beige {
  background-color: #EDD5C7;
  border-color: #D4BEB2;
  color: #fff;
}
.btn.btn-admica-beige:hover,
.btn.btn-admica-beige:active,
.btn.btn-admica-beige.hover {
  background-color: #D4BEB2;
}
.btn.btn-admica-ladrillo {
  background-color: #D14F38;
  border-color: #B84531;
  color: #fff;
}
.btn.btn-admica-ladrillo:hover,
.btn.btn-admica-ladrillo:active,
.btn.btn-admica-ladrillo.hover {
  background-color: #B84531;
}
.btn.btn-admica-azul {
  background-color: #1F85A1;
  border-color: #1A7088;
  color: #fff;
}
.btn.btn-admica-azul:hover,
.btn.btn-admica-azul:active,
.btn.btn-admica-azul.hover {
  background-color: #1A7088;
}